.debug{border:1px solid red}
.floatRight{display:block;float:right}
.floatLeft{display:block;float:left}
.absolute{position:absolute}
.none{display:none}
.strong{font-weight:700}
.noborder {border:none !important}
.hidden{visibility:hidden}
.visible{visibility:visible}
.clearfix{clear:both;overflow:hidden}
.clearfix2:after{height:0;clear:both;content:".";display:block;line-height:0;visibility:hidden}
.clearfix2{display:inline-block}
.clearfix2{display:block}
.clearfix2{height:1%}