@import '_reset';
@import '_utils';

body {background-color:#fff;font-family:arial}
.fb_social {background: url("../images/facebook.png") no-repeat scroll left top transparent; display: block; height: 96px;position: fixed;right: 0;top: 150px;width: 36px;z-index: 10;}
a {color:#000; cursor:pointer; text-decoration: none}

@import '_header';
@import '_banner';
@import '_content';
@import '_footer';
@import 'jquery.fancybox.scss';

#main_content {width:1000px;margin:0 auto;background:#fff;padding-bottom:25px;margin-top:3px}
.main_col {width:690px;text-align:left;margin:0 auto;font-family:arial;font-size:13px;padding:10px 0px;position:relative;float:right}
h2.entry-title {font-size:32px;font-weight:normal;font-family:"cuprum";padding-bottom:5px;padding-top:4px;color:#222}
.entry-content {line-height:20px;font-size:13px;}
.img_right {float:right;margin-bottom:10px;margin-left:20px;border:3px solid #eee;border-radius:6px}
.entry-content ul {list-style:square inside none;margin-top:10px}
.entry-content ul li {padding:1px 0px}
.visitme {
    background: url("../images/buttons.png") no-repeat scroll -288px -9px transparent;
    bottom: 28px;
    display: block;
    float: right;
    height: 68px;
    position: absolute;
    right: 37px;
    width: 282px;
    text-indent:-9999em
}
.visitme:hover {background-position:-288px -86px}
.wrapper_wide {background:#fff;width:100%;height:auto}
.search_area {float:left;padding-left:120px}
.screen-reader-text {display:none}
.search_area #s {border:1px solid #ddd;padding:4px;float:left}
.search_area #searchsubmit {
    background: none repeat scroll 0 0 #3B5997;
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    margin-left: 4px;
    margin-top: 0;
    padding: 4px;
    text-align: center;
}

.left_col {width:285px;float:left;text-align:left;padding-top:20px}
.menu_box {
    border: 3px solid #F1F1F1;
    border-radius: 3px 3px 3px 3px;
    width: 270px;
}
.menu_box ul {
    padding: 10px;
}
.menu_box ul li {
    border-bottom: 1px solid #E2E2E2;
    padding: 7px 0;
}
.menu_box ul li a {
    font-size:13px;
    font-family:arial
}
.menu_box ul li.current_page_item a {
    color: #193787;

}
.menu_box ul li:last-child {
    border-bottom: medium none;
}
.menu_box ul li ul {
    background: none repeat scroll 0 0 #F8F8F8;
    margin: 5px 0;
    padding: 5px 10px;
    display:none
}
.menu_box ul li ul li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 1px 0;
}
.menu_box ul li ul li.current_page_item a {
    background: none repeat scroll 0 0 transparent;
    color: #193787;
    font-weight: bold;
    padding: 5px 0;
}
.menu_box ul li.current_page_item ul li a {
    color: #444444;
    font-weight: normal;
    font-size:13px;
    font-family:arial
}
.menu_box ul li ul li a {
    color: #444444;
    font-weight: normal;
     font-size:13px;
    font-family:arial
}


.left_col .right_contact1 {width: 275px; /*height: 371px*/ float:left;font-size:13px;padding-top:35px}
.left_col .right_contact1 a {text-decoration: none; color: #3b5997;}
.left_col .right_contact1 a:hover {text-decoration:underline}
.left_col .right_contact1 div.mapa {background: url(../images/mapa_tlo.jpg) no-repeat left -12px ; display: block; width: 230px; height: 207px;position:relative;margin:0 auto}
.left_col .right_contact1 div.mapa a {background: url(../images/map-a.jpg) top left no-repeat; width: 224px; height: 40px;display:block;position:absolute;top:82px}
.left_col .right_contact1 div.mapa a:hover {background: url(../images/map-a.jpg) left bottom no-repeat; width: 224px; height: 40px;display:block;position:absolute;top:82px}



.wpcf7-form p {
    padding: 4px 0;
}
.wpcf7-form input.wpcf7-text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    height: 24px;
    padding-left: 4px;
    width: 330px;
}
.wpcf7-form textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    width: 334px;
}
span.wpcf7-not-valid-tip-no-ajax {
    color: #DB0F0F;
    display: block;
    font-size: 9px;
    padding-top: 5px;
}
.wpcf7-validation-errors {
    border: medium none !important;
    color: #DB0F0F;
    display: block;
    font-size: 9px;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-top: 5px;
}
.wpcf7-submit {
    background: none repeat scroll 0 0 #3b5997;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    padding: 5px 15px !important;
    text-align: center;
}
.contact_form {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 690px;
}
form.wpcf7-form {
    clear: both;
    float: left;
    margin: 0;
    overflow: hidden;
}


#map {
    border: 3px solid #E0E0E0;
    float: right;
    height: 340px;
    width: 685px;
    margin-top:20px
}
#map-side-bar {
    float: left;
    width: 280px;
}

.map-location a {
    color: #515151;
    font-weight: normal;
}
.map-location a.current {
    color: #0A6E77;
    font-weight: bold;
}
.map-location a:hover {
    color: #0A6E77;
    text-decoration: none;
}
.contact-box {
    clear: both;
    overflow: hidden;
    padding-bottom: 10px;
}
.contact-box p {
    line-height: 19px;
}
#map-side-bar h3 {
    clear: both;
    font-family: "Swiss";
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 6px;
    padding-top: 5px;
}
#map-side-bar .contact_btn {
    background: url("../images/main-btn.png") no-repeat scroll left bottom transparent;
    color: #0A6E77;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    margin: 5px 0 10px;
    text-align: center;
    text-shadow: 1px 0 0 #FFFFFF;
    width: 209px;
}
#map-side-bar .contact_btn:hover {
    background-position: left top;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 0 0 #0D636B;
}
#map-side-bar .info-box {
    display: none;
}

.img_right_abs {position:absolute;top:140px;right:0px}

.slideshowlink {
    display: none;
}
.ngg-gallery-thumbnail-box {
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 320px;
    margin-bottom: 18px;
    margin-right: 8px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 335px;
}
.ngg-gallery-thumbnail a img {
    display: block;
    margin: 9px auto 0;
}
.no-mr {
    float: right;
    margin-right: 0;
}
.ngg-navigation {
    clear: both;
    overflow: hidden;
    padding-bottom: 15px;
}
.ngg-navigation span {
    border: 1px solid #1C8E98;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.ngg-navigation a {
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.ngg-navigation a:hover {
    border: 1px solid #1C8E98;
    text-decoration: none;
}
.ngg-navigation_top {
    clear: both;
    overflow: hidden;
    padding-bottom: 15px;
}
.ngg-navigation_top span {
    border: 1px solid #1C8E98;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.ngg-navigation_top a {
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
    padding: 3px;
    text-align: center;
    width: 14px;
}
.ngg-navigation_top a:hover {
    border: 1px solid #1C8E98;
    text-decoration: none;
}
.ngg-gallery-thumbnail-box {
    position: relative;
}
.ngg-gallery-thumbnail-box span {
    background: none repeat scroll 0 0 #EEEEEE;
    cursor: pointer;
    display: block;
    font-size: 9px;
    font-weight: normal;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 1px 0 0 #FFFFFF;
    top: 0;}
