{% extends "base.html" %}
{% set pageType = 'home' %}

{% block content %}
<div class="big_img_ban">
    <div class="center_img_text">
        <div class="img_background"></div>
        <div class="cytat_text">
            <div class="show_ban_txt">
                {{ data.pages.homepage.quote|safe }}
            </div>  
            <div class="button clearfix">
                <a class="button1" href="/therapy.html"></a>
                <a class="button2" href="/book_visit.html"></a>
            </div> 
        </div>
    </div>
</div>
<div class="wrapper_wide clearfix">
    <div id="content" class="clearfix">   
        <div class="left_text">   
            {{ data.pages.homepage.hello|safe }}                                         
        </div>
        <div class="middle_text">                                              
            {{ data.pages.homepage.offer|safe }}
        </div>
        <div class="right_contact1">   
            {{ data.pages.homepage.contact|safe }}     
            {% include "map.html" %}                                     
        </div>
    </div> 
</div>
{% endblock %}