<div id="footer" class="clearfix" style="padding-bottom:0px">
    <div class="content_footer clearfix" style="position:relative;padding-bottom:25px">
        <div class="mini_logo">
            {{ data.footer|safe }}
        </div>
        <p class="madeby">
            made by <a title="Przemysław Drążewski Freelance Webdesigner - Sosnowiec - Poland - drazewskidesign.pl - Portfolio" href="http://drazewskidesign.pl">drazewskidesign</a>
        </p>
    </div>
</div>
<a class="fb_social" href="https://www.facebook.com/piotr.kowalski.35912672" target="_blank"></a>