<div id="footer" class="clearfix" style="padding-bottom:0px">
    <div class="content_footer clearfix" style="position:relative;padding-bottom:25px">
        <div class="mini_logo">
            <a class="img_mini_logo" href="/" title="Gabinet fizjoterapii"></a>
            <p>Copyright &copy; 2009-2012 Piotr Kowalski - Gabinet Fizjoterapii. Wszystkie prawa zastrzeżone</p>
            <p>Korzystając z tej strony wyrażasz zgodę na wykorzystywanie plików cookie. <a href="/cookies.html">Dowiedz się więcej o plikach cookie</a></p>
        </div>
        <p class="madeby">
            made by <a title="Przemysław Drążewski Freelance Webdesigner - Sosnowiec - Poland - drazewskidesign.pl - Portfolio" href="http://drazewskidesign.pl">drazewskidesign</a>
        </p>
    </div>
</div>
<a class="fb_social" href="https://www.facebook.com/piotr.kowalski.35912672" target="_blank"></a>