<div class="wide_header">
    <div class="header clearfix">
        <h1>
            <a title="Gabinet fizjterapii Piotr Kowalski" href="/"></a>
        </h1>
        <div class="box_header_right">
            <div class="clearfix">
                <ul class="mini_menu">
                    <li class="tel_img">501-157-739</li>
                    <li><a class="wizyta_img" href="/book_visit.html">Umów się na wizytę</a></li>
                    <li class="sep">|</li>
                    <li><a href="/sitemap.html">Mapa strony</a></li>        
                </ul>        
            </div>
            <div class="clearfix">
                <ul class="menu_nav">
                    <li>
                        <a href="/">Strona główna</a>
                    </li>
                   {% include "menu.html" %}
                </ul>
            </div>
        </div>
    </div>
</div>