<div class="wide_header">
    <div class="header clearfix">
        <h1>
            <a title="Gabinet fizjterapii Piotr Kowalski" href="/"></a>
        </h1>
        <div class="box_header_right">
            <div class="clearfix">
                {{ data.header|safe }}    
            </div>
            <div class="clearfix">
                <ul class="menu_nav">
                    <li>
                        <a href="/">Strona główna</a>
                    </li>
                   {% include "menu.html" %}
                </ul>
            </div>
        </div>
    </div>
</div>